@import 'tailwindcss';

:root {
  --font-heading: 'Radio Canada Big', sans-serif;
  --font-body: 'Raveo', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Raveo';
  src: url('/fonts/raveo/Raveo-Display-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raveo';
  src: url('/fonts/raveo/Raveo-Display-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

html, body, #root {
  width: 100%;
  height: 100%;
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5 {
  font-family: 'Radio Canada Big', sans-serif;
}

p, span {
  font-family: var(--font-body);
  font-weight: 400;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: calc(infinity * 1px);
  border: none;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  transition: border-color 0.25s;
  font-family: var(--font-body);
  transition: all 0.5s ease;
}
.radioButton {
  font-family: var(--font-heading)
}
.raveoMedium {
  font-family: 'raveo';
  font-weight: 500;
}

button:active {
  transform: scale(0.92);
}

@media (max-width:1023px) {
  .marquee-track {
    display: flex;
    width:max-content;
    animation: marquee 15s linear infinite;
  }

  .marquee-container:hover .marquee-track {
    animation-play-state: paused;
  }
}

@media (min-width: 1024px) {
  .marquee-track {
    animation: none;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-item {
  font-size: 119.64px;
  line-height: 112.7px;
  letter-spacing: -5.98px;
  /* color: #F6F6F6; */
  transition: color 0.5s linear;
  cursor: pointer;
}

a, .underline-grow {
  position: relative;
  display: inline-block;
  /* transition: color 0.4s ease; */
}

a::after, .underline-grow::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 0;
  height: 0.5px;
  background-color: currentColor;
  transition: width 0.4s ease;
}
/* a:hover, .underline-grow:hover {
  color: white; 
} */

a:hover::after, .underline-grow:hover::after {
  width: 100%;
}

/*
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
